body{
    height:100vh;
    background: linear-gradient(to bottom, #07728c, #60c7e0);
}
input:focus{
  outline:none;
}
.secao_1{
    display: flex;
    justify-content: center;
}
.secao_2{
    display: flex;
    justify-content: center;
}
.cabecalho{
    color: #000000;
    font-size: 22px;
    font-family: Calibri, Candara;
    font-weight: bold;
    position: absolute;
    top: 30px
}
.cpf{
    font-size: 16px;
    font-family: Calibri, Candara;
    color: #000;
    position: absolute;
    top: 90px;
    left: 550px
}
.input_cpf{
     position: absolute;
     top: 120px;
     border: none;
     border-bottom: 1px solid #07728c;
     font-size: 13px;
     color: #333;
     width: 200px
}
.senha{
    font-size: 16px;
    font-family: Calibri, Candara;
    color: #000;
    position: absolute;
    top: 200px;
    left: 550px
}
.input_senha{
     position: absolute;
     top: 230px;
     border: none;
     border-bottom: 1px solid #07728c;
     font-size: 13px;
     color: #333;
     width: 200px
}
.login{
    color: #FFF;
    font-size: 20px;
    font-family: Calibri, Candara;
    font-weight: bold;
    position: absolute;
    top: 298px
}
.fundo_1{
    width: 350px;
    height: 500px;
    border-radius: 15px;
    background-color: #FFF;
    position: absolute;
    top:10px
  
}
.fundo_2{
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color: #07728c;
    position: absolute;
    top: 290px;
}